.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
  }
  
  .error-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .error-page p {
    font-size: 18px;
  }
  